p {
  text-decoration:line-through;
}
h1 {
  background-color: gray;
}
h1 {
color: #008000;
text-transform: uppercase;
margin: 20px;
margin: 40px;
border-style: dashed;
border-width: 5px;
border-color: red;
}
h2 {
  text-decoration: underline;
}
body{
font-family: sans-serif;
}
#intro {
  background-color: black;
  border-width: 1px;
}
.spotlight {
  background-color: #FEFE22;
}
h2, p {
  background-color: "dark green";
}
